---
layout: default
---

<article class="resource-content">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
    <p class="lead">{{ page.subtitle }}</p>
    {% endif %}

    {% if page.category %}
    <div class="mb-3">
        <span class="badge bg-secondary">{{ page.category | capitalize }}</span>
    </div>
    {% endif %}

    <div class="content">
        {{ content }}
    </div>

    <hr class="my-4">
    
    <div class="row">
        <div class="col-md-6">
            <h5>More Resources</h5>
            {% assign resources = site.resources | where_exp: "item", "item.url != page.url" %}
            {% for resource in resources limit:3 %}
            <a href="{{ resource.url | relative_url }}" class="d-block mb-2">{{ resource.title }}</a>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h5>Quick Links</h5>
            <a href="{{ '/assignments/' | relative_url }}" class="d-block mb-2">View Assignments</a>
            <a href="{{ '/lessons/' | relative_url }}" class="d-block mb-2">Browse Lessons</a>
            <a href="{{ '/syllabus/' | relative_url }}" class="d-block mb-2">Course Syllabus</a>
        </div>
    </div>
</article>
